

.grid-box {
    border: solid 1px black;
    aspect-ratio: 1/1;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.letter {
    aspect-ratio: 1/1;
    height: 60px;
}

.action {
    aspect-ratio: 1/1;
    height: 60px;
}



